<h1 mat-dialog-title>{{description}}</h1>

<div mat-dialog-content [formGroup]="filterForm">
  <br>
  <mat-form-field>
      <input matInput
      placeholder="Speed Filter (KTS)"
      formControlName="speedFilter"
      type="number">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput
    placeholder="Alitute Filter (FT)"
    formControlName="altFilter"
    type="number">
  </mat-form-field>
</div>

<h1 *ngIf="olFilters.length > 0" mat-dialog-title>Overlays Filter</h1>
<div *ngFor="let olFilter of olFilters; let i = index;">
    <mat-checkbox class="example-margin" [(ngModel)]="olFilters[i].checked">{{olFilter.name}}</mat-checkbox>
    <!-- <input type="checkbox" name="layer{{layer.id}}" [(ngModel)]="layers[i].checked">
    <label for="layer{{layer.id}}">{{layer.name}}</label> -->
</div>

<div mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="saveFilters()">Save</button>
</div>