mat-toolbar {
    height: 40px;
}

mat-toolbar-row {
    height: 40px;
}

.mat-toolbar-multiple-rows {
    min-height: 40px;
}

.span-spacer {
    margin: 5px;
}

.span-spacer-large {
    flex: 1 1 auto;
}


a:link {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}