<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <p>Track Summary</p>
      <app-ts></app-ts>
    </mat-drawer>
  
    <div class="sidenav-content">
      <div><button mat-stroked-button (click)="drawer.toggle()">
          <mat-icon>dashboard</mat-icon>
          <span class="span-spacer"></span>Track Summary
        </button>
        <button mat-stroked-button (click)="openDialog()">
            <mat-icon>picture_in_picture</mat-icon>
            Add Overlay
          </button>
        <span class="span-spacer-large"></span>
        <button mat-stroked-button (click)="openFilterDialog()">
          <mat-icon class="example-tab-icon">list_alt</mat-icon>
          Filters
        </button>
      </div>
      <div class="div-cesium-content" appCesium></div>
    </div>
    <div id="overlay">
      <button id="button" mat-mini-fab color="primary" (click)="ackAlerts()">ACK</button>
    </div> 
</mat-drawer-container>
  