<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="push">
      <p>Track Summary ({{trackCount}})</p>
      <app-ts></app-ts>
    </mat-drawer>
  
    <div class="sidenav-content">
      <div>
        <button mat-stroked-button (click)="toggleConnection()">
          <mat-icon [ngStyle]="{'color' : 'green'}" *ngIf="connected">check_circle</mat-icon>
          <mat-icon [ngStyle]="{'color' : 'red'}"*ngIf="!connected">check_circle</mat-icon> 
          <span style="color : green" class="span-spacer"></span>ICS
        </button>
        <button mat-stroked-button (click)="drawer.toggle()">
          <mat-icon>dashboard</mat-icon>
          <span class="span-spacer"></span>Track Summary ({{trackCount}})
        </button>
        <button mat-stroked-button (click)="openDialog()">
            <mat-icon>picture_in_picture</mat-icon>
            Add Overlay
          </button>
        <span class="span-spacer-large"></span>
        <button mat-stroked-button (click)="openFilterDialog()">
          <mat-icon [ngStyle]="{'color' : '#72bcd4'}" *ngIf="filterEnabled">list_alt</mat-icon>
          <mat-icon *ngIf="!filterEnabled" class="example-tab-icon">list_alt</mat-icon>
          Filters
        </button>
        <button mat-stroked-button (click)="openLayerDialog()">
          <mat-icon [ngStyle]="{'color' : '#72bcd4'}" *ngIf="layerEnabled">layers</mat-icon>
          <mat-icon *ngIf="!layerEnabled" class="example-tab-icon">layers</mat-icon>
          Layers
        </button>
      </div>
      <div class="div-cesium-content" appCesium></div>
    </div>
    <div id="overlay">
      <button id="button" mat-mini-fab color="primary" (click)="ackAlerts()">ACK</button>
    </div> 
</mat-drawer-container>
  